
body{
    margin: 0;
    padding:0;
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#menu{
    display: flex;
    align-self: center;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(4px);
    background-color: rgba(234, 234, 234, 0.13);
    width: 50%;
    height: 300px;
    z-index: 99;
    border-radius: 12px;
}


#title{
    color: rgb(0, 0, 0);
    position: absolute;
    width: 90%;
    background-color: rgba(255,255,255,0.7);
    border-radius: 12px;
    top: 0;
}

#resume,#restart{
    background-color: rgba(255, 255, 255, 0.758);
    color: black;
    width: 90%;
    margin-top: 40px;
    height: 25px;
    border-radius: 12px;
    transition: 350ms;
    font-weight:bolder;
    font-size: 20px;
    text-align: center;
}


#restart:hover{
    box-shadow: 0px 0px 15px rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    transition: box-shadow,background-color;
    transition-duration: 350ms;
}

#resume:hover{
    box-shadow: 0px 0px 15px rgb(51, 255, 0);
    background-color: rgb(51, 255, 0);
    transition: box-shadow,background-color;
    transition-duration: 350ms;
}

#score,#timer,#wavenb,#hp{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.311);
    width: 13%;
    height: 40px;
    text-decoration: solid;
    margin-left: 1%;
    font-size: large;
    font-weight: bold;
    word-wrap: break-word;
}
#over{
    color: white;
    position: absolute;
    top: 25px;
    left: 35.2%;
    z-index: 100;
    border-radius: 20px;
    width: 30%;
    animation: 1s ease-in-out infinite over;
}

@keyframes over {
    0% {
        transform: scale(0.8);
    }
    50%{
        background-color: red;
        transform: scale(1);
    }
    100%{
        transform: scale(0.8);
    }
}



.loadAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#load{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.445);
    backdrop-filter: blur(40px);
    position: absolute;
    top: 0;
    z-index: 1000;
}


#intro{
    width: 40%;
    height: 30%;
    background-image: url(./invaders.png);
    background-position: 40%;
    background-repeat: no-repeat;
    border-radius: 12px;
    animation: 1s ease-in intro;
}

@keyframes intro {
    from {
        width: 0%;
    }
    to {
        width: 40%;
    }
}

#asteroid{
    width: 10%;
    z-index: 0;
    margin: 1%;
    top: 30%;
    animation: 2s rotating linear infinite;
    /*FIXME: DECOMMENTE*/
}
@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
#prompt {
    margin-bottom: 20%;
    text-align: center;
    color: white;
   font-size:large;
   font-family: 'Courier New', Courier, monospace;
   margin: 1%;
   animation: 3s fade ease-in;
}
@keyframes fade {
    from {
        opacity: 0%;
    }
    60%{
        opacity: 50%;
    }
    to {
        opacity: 100%;
    }
}

#play{
    margin-top: 10%;
    width: 12%;
    height: 3%;
    background-color: rgb(92, 92, 209);
    border-radius: 100px 200px;
    width: 500px;
    height: 150px;
    transition: 1s;
    animation: 3s fade ease-in;
}
#play:hover  {
    box-shadow: 0px 0px 30px rgb(254, 124, 38);
    transition:box-shadow 300ms;
}

#contFPS{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 2%;
    align-items: center;
}

#txt {
    color: black;
    font-weight: bold;
}
.fps {
    width: 200px;
    border-radius: 12px;
    background-color: rgb(92, 92, 209);
}

#BOSS_PROMPT{
    display: flex;
    width: 40%;
    height: 10%;
    position: absolute;
    z-index: 20000;
    left: 30%;
    top: 65%;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

#PROMPT{
    white-space: nowrap;
    width: 29ch;
    color: white;
    border-right: .15em solid white;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0 }
    to { width: 25ch }
  }

  @keyframes blink {
    from { border-color: transparent }
    to { border-color: white; }
  }



  